

<div id="page-wrapper" *ngIf="user">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <table class="table table-striped table-bordered">
                <tr>
                    <td>Name</td>
                    <td>{{user.name}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <td>Level</td>
                    <td>
                        <span *ngIf="user.level == 0">
                            Supper Admin
                        </span>
                        <span *ngIf="user.level == 1">
                            Admin
                        </span>
                        <span *ngIf="user.level == 2">
                            Member
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>{{user.created_at}}</td>
                </tr>

            </table>
        </div>
    </div>
</div>