<sidebar></sidebar>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <form>
                <div class="form-group">
                    <label>Name Department</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Office phone</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group">
                    <label>Manager</label>
                    <input type="password" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>