<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <form #userForm="ngForm" (ngSubmit)="create(userForm.value)">
                <div class="form-group">
                    <label>User name</label>
                    <input type="text" class="form-control" name="name" #name="ngModel" required ngModel>
                    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                        <div [hidden]="!name.errors.required">
                            Can not empty
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" name="email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        (keyup)="check(email.value)" required ngModel>
                    <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                        <div [hidden]="!email.errors.pattern">
                            Not Email
                        </div>
                        <div [hidden]="!email.errors.required">
                            Can not empty
                        </div>
                    </div>
                    <div *ngIf="emailUnique" class="alert alert-danger">
                        Email exists
                    </div>

                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" #password="ngModel" minlength="6" maxlength="12" required ngModel>
                    <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
                        <div [hidden]="!password.errors.minlength">
                            Min 6
                        </div>
                        <div [hidden]="!password.errors.required">
                            Can not empty
                        </div>
                    </div>
                </div>
                <div>
                    <label>Level</label>
                    <div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="level" value="1" [checked]="true" [(ngModel)]="level">
                                Admin
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="level" value="2" [(ngModel)]="level">
                                Member
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info" [disabled]="!userForm.form.valid">Create</button>
                <button type="reset" class="btn btn-warning">Reset</button>
            </form>
        </div>
    </div>
</div>